<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button md-raised-button (click)="gotoDetail()">View Details</button>
</div>

<div class="addingDiv">
  <md-input-container>
    <input #heroName mdInput placeholder="Hero name :">
  </md-input-container>
  <button md-mini-fab (click)="add(heroName.value); heroName.value=''">+</button>
</div>

<md-list>
  <md-list-item *ngFor="let hero of heroes">
    <button md-button (click)="onSelect(hero)" [class.activeBtn]="hero === selectedHero">
      <md-chip-list>
        <md-chip color="primary" selected="true">{{hero.id}}</md-chip>
      </md-chip-list>
      {{hero.name}}</button>

  </md-list-item>
</md-list>

